@import '../../index.scss';

.dashboard {
  min-height: calc(100vh - 102px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .form-message {
    padding-bottom: 24px;
    
    .submit {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}