@import '../../index.scss';

@mixin shrinkLabel {
  top: 6px;
  left: 12px;
  font-size: 10px;
  color: $secondaryColor;
  font-family: 'Lato', sans-serif;
}

.dashboard {
  min-height: calc(100vh - 102px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    padding-top: 0px;

    h1 {
      margin-bottom: 0px;  
    }
  }

  .form-message {
    padding-bottom: 24px;

    .textarea {
      margin: 10px 0;
      padding: 30px 0;
      position: relative;

      textarea {
        padding: 10px;
        background-color: white;
        color: $mainBlack;
        font-size: 18px;
        width: 100%;
        border: 1px solid $secondaryColor;
        border-radius: $mainBorderRadius;
        overflow-y: hidden; 
  
        &:focus {
          outline: none;
        }
        &:focus ~ .textarea-label {
          @include shrinkLabel();
        }
      }
      .textarea-label {
        position: absolute;
        top: 45px;
        left: 15px;
        color: $darkGrey;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: .5px;
        pointer-events: none;
        transition: $mainTransition;
      }

      .shrink {
        @include shrinkLabel();
      }
    }

    .submit {
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      .custom-button {
        font-size: 16px;
      }
    }
    .validate {
      textarea {
        border-color: $validate !important;
      }
    }
    .validate > .textarea-label {
      color: $validate !important;
    }
  }

  .recent-posts {
    .responsive {
      margin: 0 auto 0 0;
    }
  }
  .user-info {
    .responsive {
      margin: 0 0 0 auto;
    }
  }

  @media screen and (max-width: 767px) {
    .recent-posts {
      .responsive {
        margin: 0 auto;
      }
    }
    .user-info {
      .responsive {
        margin: 0 auto;
      }
    }
  }
}