@import '../../index.scss';

.home {
  min-height: calc(100vh - 102px);
  display: flex;
  justify-content: center;

  .title {
    border-bottom: 2px solid $mainBlack;
    width: 80%;
    margin: 0 auto;

    h1 {
      margin: 0px;
      font-size: 3em;
    }
  }
}