@import '../../index.scss';

.home {
  min-height: calc(100vh - 102px);
  display: flex;
  justify-content: center;

  .title {
    border-bottom: 2px solid $mainBlack;
    width: 80%;
    margin: 0 auto;

    h1 {
      margin: 0px;
      font-size: 3em;
    }
  }

  .btn-wrapper {

    display: flex;
    justify-content: space-evenly;

    .load-more {
      margin: 20px 0;
    }

    .show-less {
      margin: 20px 0;
    }
  }
}

@media screen and (max-width: 480px) {
  .home {
    .title {
      font-size: 1rem;
    }
  }
}