.sign-in {
  min-height: calc(100vh - 102px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-right: 19px;

  .form {

    .submit {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 992px) {
  .sign-in {
    padding-right: 0px;
  }
}