@import '../../../../index.scss';

.post {
  background-color: $backgroundColor;
  border-radius: $mainBorderRadius;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .header {
    padding: 10px 0px;

    img {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 75px;
      height: 75px;	
      border-radius: 50%;	
    }
    .name {
      text-align: center;
      color: $primaryColor;
    }
  }
  .body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}