@import '../../../index.scss';

.recent-posts {
  .error {
    color: #ff0000;
    padding-bottom: 8px;
  }

  .edit {
    display: flex;
    justify-content: flex-start;

    .badge {
      position: absolute;
      right: 3px;
      bottom: 2px;
      padding: 5px 5px 4px 5px;
      border: 1px solid $secondaryColor;
      margin: 5px;
    }

    .over {
      border-color: #ff0000 !important;
    }


    textarea {
      padding: 5px;
    }

    p {
      padding: 2px;
      word-wrap: break-word;
      width: 100%;
    }
    textarea {
      border: none;
      width: 100%;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .buttons {
      display: flex;
      justify-content: space-evenly;
    }

    .btn-edit, .btn-delete {
      display: flex;
      justify-content: center;

      &:hover {
        cursor: pointer;
      }
    }

    .btn-delete {
      &:hover {
        color: #ff0000;
      }
    }
  }
}