@import '../../../index.scss';

.alert {
  color: $primaryColor;
  background-color: $backgroundColor;
  border-color: $darkGrey;
  z-index: 10;
  width: 440px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 0px;
  left: calc(50% - 230px);
  animation: fadeInDown 2s ease-in-out forwards;
  transform: translateY(75%);
  -webkit-transform: translateY(75%);
  -moz-transform: translateY(75%);
  -ms-transform: translateY(75%);
  -o-transform: translateY(75%);

  &:focus {
    outline: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
  }
  100% { 
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
}



@media screen and (max-width: 481px) {
  .alert {
    width: 95%;
    font-size: 0.9rem;
    padding: .5rem;
  }
}