@import '../../../index.scss';
@import '../input/input.scss';

@mixin shrinkLabel {
  top: -22px;
  left: 12px;
  font-size: 10px;
  color: $secondaryColor;
  font-family: 'Lato', sans-serif;
}

.textarea {
  @extend .group;

  .form-textarea {
    padding: 10px;
    background-color: white;
    color: $mainBlack;
    font-size: 18px;
    width: 100%;
    border: 1px solid $secondaryColor;
    border-radius: $mainBorderRadius;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-textarea-label {
    @extend .form-input-label;

    &.shrink {
      @include shrinkLabel();
    }
  }
  .validate {
    border-color: $validate;
  }
  .validate + .form-input-label {
    color: $validate;
  }
}