@import '../../../index.scss';

@mixin shrinkLabel {
  top: 6px;
  left: 12px;
  font-size: 10px;
  color: $secondaryColor;
  font-family: 'Lato', sans-serif;
}

.group {
  position: relative;
  margin: 45px 0;

  .form-input {
    height: 54px;
    padding: 22px 12px 10px;
    background-color: white;
    color: $mainBlack;
    font-size: 18px;
    display: block;
    width: 100%;
    border: 1px solid $secondaryColor;
    border-radius: $mainBorderRadius;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    font-weight: 600;
    letter-spacing: .5px;
    top: 18px;
    left: 12px;
    text-transform: uppercase;
    color: $darkGrey;
    font-size: 14px;
    position: absolute;
    pointer-events: none;
    transition: $mainTransition;

    &.shrink {
      @include shrinkLabel();
    }
  }
}