.register {
  min-height: calc(100vh - 101px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .form {

    .submit {
      display: flex;
      flex-direction: column;
    }
  }
}